<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="EUC-KR">
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
<link th:href="@{/css/main.css}" rel="stylesheet">
<title>Insert title here</title>
</head>
<body>
	<header th:replace="~{header}"></header>
	<div class="container">

		<form action="/workflow/create" method="post">
		<input name="test" value="test">
			<div class="d-flex flex-column">
				<input placeholder="title"> 
				<br>
				<p>members</p>
				<div th:each="order:${orderList}">
					<input  th:value="|${order}|" th:name="|order,${order}|">
					<input th:value="|${order}|" th:name="|id,${order}|">
				</div>
			</div>
			<br>
			<button class="btn btn-outline-primary">Done</button>
		</form>
	</div>

</body>
</html>