
<nav class="navbar navbar-expand-sm navbar-light bg-light">
	<a class="navbar-brand" href="#">Main</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse"
		data-target="navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
		aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
		<ul class="navbar-nav">
		<li class="nav-item"><a class="nav-link active" href="/account">accounts</a> </li>
		<li class="nav-item"><a class="nav-link active" href="/workflow">workflow</a></li>	
		</ul>
		<ul class="navbar-nav">
			<li class="nav-item">
				<a th:unless="${@myInformation.isLoggedIn}" class="nav-link active" href="/account/login">login</a>
				<a th:if="${@myInformation.isLoggedIn}" class="nav-link active" href="/account/mypage">mypage</a> 
			</li>
		</ul>
	</div>
</nav>


